

body{

margin: 0;
padding: 0;
background-image:linear-gradient(to bottom,#042E80,#18A551,#67886E);
background-attachment: fixed;
}

.main-login{
    width: 100vw;
    height: 100vh;  
    display: flex;
    justify-content: center;    
    margin: 0;
    border: 0;
    
    

}
.center-login{
    margin: 0;  
    background-color: #2c8384;
    padding: 0%;    
    width: 40vw;
    height: 100vh;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
  

}
.center-login>h1{
    color: white;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 3vw; 
    display: flex;
    justify-content: center;
    text-align: center;
    

}
.textfield{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
.textfield>h2{
    color: white;
    font-family: sans-serif;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 6vw;
    transform: translateY(-220%);
  
}
.card-usuario{
    color: white;
    font-family: sans-serif;
    font-size: 1.6vw;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: flex-start;
    transform: translateY(-100%);
}

   
   .card-senha{
    color: white;
    font-family: sans-serif;
    font-size: 1.6vw;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: flex-start;
    

   }
.card-senha>label{
    
    color: white;
    font-family: sans-serif;
    font-size: 1.6vw;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: flex-start;
    transform: translateY(-300%);
}

   
.card-usuario>label{
  
    color: white;
    font-family: sans-serif;
    font-size: 1.6vw;
    display: flex;    
    justify-content: flex-start;
    align-items: center;
    transform: translateY(-20%);
 
}
.card-usuario>input{
    border-radius: 0.5vw;
    width: 25vw;
    height: 5.5vh;
    padding: 0;
    margin-bottom: 1.0vw;
    background-color: #dbdbdb;
    border: none;
    font-weight: 400;
    outline: none;
    transform: translateY(-10%); 


} 
.card-senha>input{
    border-radius: 0.5vw;
    width: 25vw;
    height: 5.5vh;
    padding: 0;
    margin:0 ;
    margin-bottom: 1.0vw;
    background-color: #dbdbdb;   
    border: none; 
    outline: none;
    transform: translateY(-220%);
    

}
.card-senha>input::placeholder{
    width: 25vw;
    height: 5.5vh;
    color: #a3a1a1;
    font-size: 1.2vw;
    
}
.card-usuario>input::placeholder{
    color: #a3a1a1;
    font-size: 1.2vw;
}
.btn-login{
    width: 20vw;
    height: 6vh;
    border: none;
    border-radius: 1vw;
    font-size: 1.6vw;
    font-weight: 600;
    background-color: #042E80;
    color: white;
    cursor: pointer;
    margin: 0;
    padding: 0;
    transform: translateY(-180%);    


}
.textfield>h3{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 2vw;
    transform: translateY(-220%);
}  

.btn-cadastrar{
    width: 20vw;
    height: 6vh;
    border: none;
    border-radius: 1vw;
    font-size: 1.6vw;
    font-weight: 600;
    background-color: #24671E;
    color: white;
    cursor: pointer;    
    margin: 0;
    padding: 0;
    transform: translateY(-200%)


}